#DashBoard {
  // background-color: yellow;
  width: 100%;
  min-height: 100vh;
  padding-top: 48px;
  display: flex;

  .taiwan-logo {
    position: sticky;
    top: 56px;
    left: 0;
    width: 10%;
    display: flex;
    // justify-content: center;
    height: calc(100vh - 56px - 10px);
    img{
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    background-color: green;
    width: 90%;
    // padding: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 576px) {
    .taiwan-logo {
      opacity: 0.1;
    }
  }
}