#DashBoard {
  // background-color: yellow;
  width: 100%;
  min-height: 100vh;
  padding-top: 48px;
  display: flex;

  .taiwan-logo {
    position: fixed;
    top: 56px;
    left: 0;
    display: flex;
    justify-content: center;
    height: calc(100vh - 56px - 10px);

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    // background-color: green;
    width: 100%;
    padding-top: 8px;
    padding-left: 100px; // img 高度
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: #000;
      font-size: 32px;
      font-family: Noto Sans TC;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  // RWD mobile media
  @media screen and (max-width: 576px) {
    .taiwan-logo {
      opacity: 0.2;
    }

    .content {
      padding: 16px;
    }
  }
}