#FormInput {
  background-color: black;

  // RWD mobile media
  @media screen and (max-width: 576px) {
    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}